.additional-items__header {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-bottom: 49px;
  position: relative;
  max-width: 247px;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #68b738;
    width: 100vw;
    top: 64%;
    left: 0;
    z-index: -1;
    transform: unset;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding: 0 36px;
    // как тут быть с переполнением?
    max-width: 340px;
    background-color: #ffffff;

    &::before {
      left: -30px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;

    &::before {
      left: -110px;
      transform: unset;
    }
  }
}

.additional-items__list {
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.additional-items__item {
  display: flex;
  flex-direction: column;
  width: 280px;

  @media (min-width: @tablet-width) {
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}
