.additional-card__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.additional-card__volume {
  .lato_mixin;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.additional-card__price {
  .lato_mixin;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.additional-card__button {
  font-size: 16px;
  line-height: 20px;
}
