.additional-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 13px;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 31px;

    @media (min-width: @tablet-width) {
      margin: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #cdcdcd;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    left: -20px;
    right: -20px;
    top: -15%;

    @media (min-width: @tablet-width) {
      content: unset;
    }
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 6px;
    width: 633px;
    border: 1px solid #cdcdcd;
    padding: 24px 38px 28px 36px;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 32% 29% 27%;
    grid-template-rows: 1fr;
    column-gap: 40px;
    width: 896px;
    border-left: none;
    border-right: none;
    padding: 15px 0 17px 0;
    box-sizing: border-box;
  }
}

.additional-card__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 20px;
    padding-left: 2px;
  }
}

.additional-card__text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;

  @media (min-width: @tablet-width) {
    // display: grid;
    // grid-template-columns: repeat(2, 50%);
    // grid-template-rows: 1fr;
    // grid-area: 1/2/2/3;
    justify-content: end;
    padding-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.additional-card__volume {
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-right: 55px;
  }
}

.additional-card__price {
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.additional-card__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;

  @media (min-width: @tablet-width) {
    grid-area: 2/1/3/3;
  }

  @media (min-width: @desktop-width) {
    grid-area: 1/3/2/4;
  }
}
