.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #68b738;
  border: none;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  max-width: 280px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--secondary {
    background-color: @light-grey;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
  }
}
