.button {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  background-color: #68B738;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
