.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #68b738;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
