.catalog__title {
  margin: 27px 0 49px 0;
}

.catalog__card {
  margin-bottom: 50px;
}

.catalog__offer {
  margin-bottom: 35px;
}

.catalog__wrapper-additional {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
