.example {
  background-color: @dark-grey;

  @media (min-width: @tablet-width) {
    background: linear-gradient(#ffffff 55.5%, #eaeaea 55.5%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(#ffffff 23%, #eaeaea 23%);
  }
}

.example__position {
  margin-left: auto;
  margin-right: auto;

  @media (max-width: @mobile-width-only) {
    max-width: 320px;
  }

  @media (min-width: @tablet-width) {
    max-width: 769px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
  }
}

.example__wrapper {
  padding-bottom: 40px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    margin-left: 0;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
    max-width: 436px;
  }
}

.example__statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    margin-bottom: 61px;
  }
}

.example__data {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 708px;
    margin: 0;
    margin-bottom: 99px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 366px;
    padding-bottom: 65px;
    margin-bottom: 0;
  }
}

.example__before {
  @media (min-width: @tablet-width) {
    height: 512px;
    padding: 4px 74px 100px 74px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 36px;
    top: -3px;
  }
}

.example__wrapper-after {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 55%;
  right: 0;

  @media (min-width: @tablet-width) {
    top: 41%;
  }

  @media (min-width: @desktop-width) {
    top: 2px;
    left: 73%;
  }
}

.example__after {
  transform: translateX(-50%);
  background-color: #eaeaea;

  @media (min-width: @tablet-width) {
    background: linear-gradient(#ffffff 29.5%, #eaeaea 29.5%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(#ffffff 26.5%, #eaeaea 26.5%);
  }
}

.example__control {
  position: absolute;
  height: 256px;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    height: unset;
    top: 41%;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    bottom: 0;
    right: 26.7%;
    left: unset;
  }
}

.example__button {
  position: absolute;
  z-index: 6;
  left: 50%;
  bottom: 23%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    right: 50%;
    bottom: 32.2%;
  }

  @media (min-width: @desktop-width) {
    left: unset;
    right: 24.1%;
    bottom: 53.2%;
  }
}
