.example__wrapper {
  background-color: #eaeaea;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.example__description {
  .lato_mixin;
  font-size: 14px;
  line-height: 18px;
}
