.form__header {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 35px 0;

  &--comment {
    margin-bottom: 38px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 21px;
}

.form__explanation {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

.form__owner {
  margin: 0;
  margin-bottom: 24px;
}

.form__goal {
  margin-bottom: 45px;
}

.form__comment {
  margin-bottom: 23px;
}

.form__add {
  margin: 0;
  margin-bottom: 34px;
}
