.goal {
  background-color: #d9d9d9;

  &--form {
    background-color: #ffffff;
  }
}

.goal__header {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 30px 7px 70px;
  margin-bottom: 22px;
}

.goal__description {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-left: 20px;
  padding-right: 33px;
  margin-bottom: 38px;

  &--form {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #222222;
  }
}

.goal__catalog-wrapper {
  padding: 0 20px 18px 20px;
}
