.main-container__details {
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.main-container__image {
  max-width: 280px;
  max-height: 270px;

  @media (min-width: @tablet-width) {
    min-width: 609px;
    min-height: 609px;
  }

  @media (min-width: @desktop-width) {
    min-width: 552px;
    min-height: 500px;
  }
}
