.main-footer {
  background-color: @light-grey;
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 39px;
  padding-top: 39px;
  padding-bottom: 40px;
  text-align: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
    // width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    padding: 66px 110px;
  }
}

.main-footer__logo-image {
  @media (min-width: @tablet-width) {
    width: 143px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    padding: 8px 0;
  }
}
