.main-header__wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 16px;
  justify-content: space-between;

  &--page {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 27px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 708px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding-top: 54px;
    padding-bottom: 0;
    margin-bottom: 74px;
  }
}

.main-header__logo-image {
  display: inline-block;
}
