.main-footer {
  background-color: @light-grey;
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
  padding: 40px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 66px 110px;
  }
}
