.main-container__details {
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.main-container__image {
  max-width: 280px;
  max-height: 270px;
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 310px;
    left: 30px;
    z-index: -1;
    min-width: 709px;
    min-height: 609px;
  }

  @media (min-width: @desktop-width) {
    min-width: 552px;
    min-height: 500px;
    position: absolute;
    top: 141px;
    right: 0;
    z-index: 2;
  }
}
