.main-header {
  margin-left: auto;
  margin-right: auto;

  @media (max-width: @mobile-width-only) {
    max-width: 320px;
  }

  @media (min-width: @tablet-width) {
    max-width: 769px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 11px;
  padding-bottom: 15px;
  justify-content: space-between;

  &--page {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 27px;

    @media (min-width: @tablet-width) {
      margin-bottom: 48px;
    }
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding-top: 0;
    align-items: center;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 54px;
    padding-bottom: 0;
    margin-bottom: 72px;
  }
}

.main-header__logo-image {
  display: inline-block;
}
