.more-info {
  padding-top: 67px;
  padding-bottom: 25px;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }

  @media (min-width: @tablet-width) {
    background: #ffffff;
    padding: 160px 37px 38px 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: unset;
    max-height: 429px;
    box-sizing: border-box;
    align-self: end;
    border: 2px solid #f2f2f2;

    &::before {
      content: unset;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 155px;
  }
}

.more-info__title {
  text-align: center;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;
  position: relative;
  max-width: unset;
  padding-top: 4px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -35px;
    right: 45%;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;

    @media (min-width: @tablet-width) {
      width: 60px;
      top: -81px;
      right: 28%;
    }

    @media (min-width: @desktop-width) {
      top: -78px;
      right: 32%;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    margin-bottom: 23px;
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    max-width: 140px;
    text-align: center;
    margin: 0 auto 23px;
    padding-top: 0;
  }
}

.more-info__subtitle {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
    max-width: 165px;
  }
}

.more-info__button {
  padding: 10px 20px;

  @media (min-width: @tablet-width) {
    min-width: 248px;
    padding: 10px;
  }

  @media (min-width: @desktop-width) {
    min-width: 169px;
  }
}
