.more-info__title {
  text-align: center;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;
}

.more-info__subtitle {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
}
