.nutrition__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.nutrition__category {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.nutrition__detail {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.nutrition__button {
  font-size: 16px;
  line-height: 20px;
}
