.owner__input {
  padding: 14px 15px;
  border: 1px solid #cdcdcd;
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 14px;
}

.owner__label {
  padding: 14px 0;
  margin: 0;
  margin-right: 10px;
}
