.page {
  min-width: 320px;
  min-height: 100vh;

  @media (min-width: @tablet-width) {
    // max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    // max-width: 1440px;
  }
}

.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  background-color: @basic-color;
  color: #000000;
  margin: 0;
}

.page__wrapper {
  position: relative;

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      position: absolute;
      background: url("../img/common/big_cat_background@1x.png");
      padding: 111px 110px 185px 190px;
      min-height: 696px;
      min-width: 720px;
      left: 50%;
      right: 0;
      box-sizing: border-box;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -50;
    }
  }

  @media (min-width: @desktop-width) and (min-resolution:2dppx) {
    &::before {
      content: "";
      position: absolute;
      background: url("../img/common/big_cat_background@2x.png");
      background-size: 720px auto;
      padding: 111px 110px 185px 190px;
      left: 50%;
      right: 0;
      box-sizing: border-box;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -50;
    }
  }
}
