// реализация отступов в блоке под вопросом
.page {
  width: 320px;
  min-height: 100%;
}

.page__body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  background-color: #ffffff;
  color: #000000;
}
