.partnership {
  &--pages {
    background-color: @light-grey;
  }
}

.partnership__wrapper {
  padding: 26px 0;
  display: flex;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 425px;
    // justify-content: space-between;
  }
}

.partnership__header {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  width: 139px;

  @media (min-width: @tablet-width) {
    width: 171px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
  }
}

.partnership__address {
  font-size: 14px;
  line-height: 20px;
  max-width: 139px;

  @media (min-width: @tablet-width) {
    max-width: 160px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    max-width: 175px;
    text-align: left;
  }
}

.partnership__map {
  border: none;
  display: block;
  // min-width: 320px;
  height: 362px;
  // пришлось сделать height вместо min-height, потому что с min не работает в ребёнке 100% height

  @media (min-width: @tablet-width) {
    // min-width: 768px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    // min-width: 1440px;
    height: 400px;
  }
}

.partnership__iframe {
  width: 100%;
  height: 100%;
}
