.personal-data__label {
  margin-right: 13px;
  padding: 13px 0;

  @media (min-width: @tablet-width) {
    padding: 12px 0;
  }
}

.personal-data__input {
  padding: 13px 20px;
  border: 1px solid #e7e7e7;
  flex: 1;
  box-sizing: border-box;

  &--weight {
    @media (max-width: @mobile-width-only) {
      max-width: 207px;
    }
  }

  &--age {
    @media (max-width: @mobile-width-only) {
      max-width: 173px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 11px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 20px;
  }
}
