.promo {
  &--background {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 62.9%, #ffffff 62.9%), url(../img/common/cat_background.png);
    padding: 27px 15px 0 15px;
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      background: none;
      padding: 62px 5px 0 120px;
      margin-bottom: 526px;
      // background-color: @basic-color;
      // закоммитили, потому что иначе картинка банки не видна на заднем фоне
    }

    @media (min-width: @desktop-width) {
      background: linear-gradient(90deg, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%), url(../img/common/big_cat_background.png);
      padding: 111px 0 185px 190px;
      // большой паддинг снизу для растяжки зелёного фона и "отталкивания" кнопки
      margin-bottom: 82px;
    }
  }

  &--background-image {
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: @desktop-width) {
      background-position: right;
      background-size: auto;
    }
  }
}

.promo__title {
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    text-align: left;
    color: #000000;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
