.promo {
  background-color: #68b738d9;
}

.promo__title {
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  padding: 27px 15px 0 15px;
}

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 302px;
  padding: 0 10px 0 10px;
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  margin: 0 auto;
}
