.promo {
  position: relative;

  &--background {
    background: linear-gradient(rgba(104, 183, 56, 0.85) 62.9%, #ffffff 62.9%), url("../img/common/cat_background@1x.png");
    padding: 27px 19px 0 19px;
    margin-bottom: 20px;

    @media (max-width: @mobile-width-only) and (min-resolution:2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85) 62.9%, #ffffff 62.9%), url("../img/common/cat_background@2x.png");
      background-size: 320px auto;
    }

    @media (min-width: @tablet-width) {
      background: none;
      padding: 48px 40px 0 120px;
      padding-bottom: 506px;
    }

    @media (min-width: @desktop-width) {
      // background: linear-gradient(90deg, #ffffff 62.9%, rgba(104, 183, 56, 0.85) 62.9%);
      margin-bottom: 0;
      padding: 34px 40px 266px 190px;
    }
  }

  &--background-image {
    background-repeat: no-repeat;

    @media (min-width: @desktop-width) {
      background-position: right;
    }
  }
}

.promo__title {
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    text-align: left;
    color: #000000;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  padding: 7px 44px;
  max-width: 280px;
  min-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 14px 26px;
    max-width: 244px;
    min-height: 54px;
  }
}
