.site-list {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-width: 440px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    min-width: 478px;
  }
}

.site-list__link {
  padding-top: 22px;
  padding-bottom: 24px;
  // тут не очень поняла про одинаковые паддинги. подумать
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
