.special-offer {
  background-color: #68b738d9;

  @media (min-width: @desktop-width) {
    width: 245px;
  }

  &--background {
    background: url("../../img/gift/gift_section_mobile.png");

    @media (max-width: @mobile-width-only) and (min-resolution:2dppx) {
      background: url("../../img/gift/gift_section_desktop@2x.png");
      background-size: 280px auto;
    }

    @media (min-width: @tablet-width) {
      background: url("../../img/gift/gift_section_tablet.png");
    }

    @media (min-width: @tablet-width) and (min-resolution:2dppx) {
      background: url("../../img/gift/gift_section_tablet@2x.png");
    }

    @media (min-width: @desktop-width) {
      background: url("../../img/gift/gift_section_desktop.png");
    }

    @media (min-width: @desktop-width) and (min-resolution:2dppx) {
      background: url("../../img/gift/gift_section_desktop@2x.png");
    }
  }
}

.special-offer__description {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 188px 61px 43px 58px;
}
