.special-offer {
  background-color: #68b738d9;

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.special-offer__description {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 188px 61px 43px 58px;
}
