.statistics-wrapper {
  padding: 15px 5px 0 5px;
  min-width: 124px;
  max-width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 4%;
  box-sizing: border-box;
  width: min-content;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    min-width: 162px;
    max-width: 162px;
    margin-right: 42px;
  }
}

.statistics-wrapper__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  display: block;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.statistics-wrapper__subtitle {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: min-content;
  background-color: #eaeaea;
  padding: 8px 10px 0 10px;
  transform: translateY(50%);

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding: 5px 8px 8px 8px;
    background-color: #ffffff;
  }
}
